* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

@import 'sidebar';
@import 'header';
@import 'dashboard';
@import 'adr-reports';
@import 'adr-form';
