@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Space+Grotesk:wght@500;600;700&display=swap');

// Variables
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#root {
    display: flex;
    min-height: 100vh;
}

@import 'sidebar';
@import 'header';
@import 'dashboard';
@import 'adr-reports';
@import 'adr-form';
@import 'schedule';
@import 'swap-form';
@import 'modal';
@import 'archived-reports';
@import 'document-viewer';
@import 'header-document';
@import 'footer-document';
@import 'document-modal';
@import 'confirm-modal';
@import 'success-notification';
@import 'fail-notification';
@import 'login';
@import 'profile';
@import 'settings';
